.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: inherit;
  padding: 0px;
  gap: 40px;
  height: 100vh;
  max-width: 1080px;
  margin: auto;
}
.App > .Header {
  display: flex;
  flex-flow: row, nowrap;
  justify-content: space-between;
  height: 8%;
  align-items: center;
  margin-top: 8px;
}
.App > .Header > .Logo > .LLogo {
  width: 110px;
  height: auto;
}
.App > .Header > .Bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 49px;
}
.App > .Header > .Bar :hover {
  background-color: var(--background-color);
  border-radius: 4px;
}
.App > .Nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  height: 9%;
}
.App > .Nav > .Nav_write {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.writing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7px;
  font-weight: 550;
  font-size: var(--big-font-size);
  color: #333333;
}
.App > .Main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.App > .Main > .Main_write {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.App > .Main > .Posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}
