.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    'head head head'
    'left main right';
  grid-template-rows: 7% 1fr;
  grid-template-columns: 10% 1fr 10%;
  grid-gap: 10px;
  padding: 0px 2%;
  height: 100vh;
  margin: 0px;
}
.App > #Header {
  grid-area: head;
  background: var(--background-color);
}
.App > #Side_left {
  grid-area: left;
  background: var(--background-color);
}
.App > #Side_right {
  grid-area: right;
  background: var(--background-color);
}
.App > #Main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    'nav'
    'article'
    'footer';
  grid-gap: 10px;
  grid-template-rows: 13% 1fr 9%;
}
.App > #Main > #Nav {
  grid-area: nav;
  display: flex;
  flex-flow: row, wrap;
  background: var(--background-color);
}

.App > #Main > #Article {
  grid-area: article;
  background: var(--background-color);
}
.App > #Main > #Article > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.App > #Main > #Footer {
  grid-area: footer;
  background: var(--background-color);
}
img {
  width: 200px;
  height: 200px;
  align-items: center;
  border: 0;
  margin: 10px;
}
.userTag {
  width: 200px;
  height: 50px;
  display: grid;
  grid-template-areas:
    'pic name'
    'pic field';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 0px 2%;
}

.userTag > .userPic {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  grid-area: pic;
}
.userTag > .userName {
  grid-area: name;
}
.userTag > .userField {
  grid-area: field;
}
