.HeaderContent {
  margin: auto;
  max-width: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 3rem;
  padding: 0px 1rem;
}
.LLogo {
  width: 110px;
  height: auto;
}
.HeaderContent .Bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 49px;
}
.Bar :hover {
  background-color: var(--background-color);
  border-radius: 4px;
}

/* hamburger */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}

.cf:before,
.cf:after {
  content: ' ';
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  display: none;
}

.row .three {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  color: #4c6268;
  text-align: center;
  padding: 10px;
}
.three:hover {
  background-color: var(--background-color);
  border-radius: 10px;
}
.hamburger .line {
  width: 18px;
  height: 2.3px;
  background-color: var(--secondary-color);
  display: block;
  margin: 2px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* 19 1.6 3 */
}

.hamburger:hover {
  cursor: pointer;
}
#hamburger-5.is-active {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#hamburger-5.is-active .line:nth-child(2) {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

#hamburger-5 .line:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger-5.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-5.is-active .line:nth-child(1),
#hamburger-5.is-active .line:nth-child(3) {
  width: 15px;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
  margin: 0;
}

#hamburger-5.is-active .line:nth-child(1) {
  -webkit-transform: translateY(15px) rotate(45deg);
  -ms-transform: translateY(15px) rotate(45deg);
  -o-transform: translateY(15px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
}

#hamburger-5.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(-45deg);
  -ms-transform: translateY(-15px) rotate(-45deg);
  -o-transform: translateY(-15px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
}
