:root {
  /*color*/
  --white-color: white;
  --black-color: black;
  --primary-color: #1c1b1b;
  --secondary-color: #bbb9b9;
  --blue-color: #be5afb;
  --background-color: #ebecf0;

  /*size*/
  --side-padding: 12px;
  --big-padding: 36px;
  --big-fontsize: 24px;

  /* font-size */
  --small-font-size: 0.875rem;
  --main-font-size: 1rem;
  --big-font-size: 1.125rem;
  --big2-font-size: 1.5rem;
  --large-font-size: 2.5rem;
}
* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
}
a {
  color: var(--black-color);
  text-decoration: none;
}
body {
  overflow: visible;
  touch-action: auto;

  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  /* 14px : 0.875
     16px : 1 
     18px : 1.125
     24px : 2.5
  */
  line-height: 100%;
  /* identical to box height, or 16px */
  letter-spacing: -0.005em;
  text-transform: capitalize;
  /* Text/general */
  color: #13172f;

  overflow-y: scroll;
}
.qwe {
  width: 100px;
  height: 40px;
}
