.App > .Nav > .Tags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.Btn {
  border: 1px solid #e1e1e1;
  border-radius: 16px;
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  padding: 12px 16px;

  /* Grey / 3 */
  color: #555555;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;

  position: relative;
}

.NoClicked:hover {
  background: #ffffff;
  /* Grey / 2 */
  border: 1px solid #999999;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.CheckImgNone {
  display: none;
  pointer-events: none;
}
.CheckImgBlock {
  display: block;
  padding: 0px 16px;
  pointer-events: none;
}
.BtnClicked {
  /* padding: 12px 16px 12px 47.44px; */
  padding: 12px 0px;
  border: 1px solid #73a5da;
  border-radius: 16px;
}
.BtnClicked:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}
.BtnText {
  padding-right: 16px;
}
